.videoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.video {
  width: 100%;
  display: block;
  margin: 12px auto 0;
  padding: 0 12px;
}

/* 비디오를 화면 중앙에 배치하고 싶다면 */
@media (min-width: 768px) {
  .videoContainer {
    max-width: 600px;
  }
}
